<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ryan Hawkins - Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../public/css/images/web_icon.png">
    <meta name="keywords" content="HTML, CSS, rhawk117, Python, C#, Coding, Cyber Seucrity, blog">
    <meta name="author" content="Ryan Hawkins">
    <link rel="stylesheet" href="../public/css/styles/style.css">
    <link rel="stylesheet" href="../public/css/text_effect.css">
    <link rel="stylesheet" href="../public/css/styles/blog.css">
</head>
<body class="view">
    <div id="wrapper">
        <header class="contain">
            <section alt="header elements">
                <h1>Ryan Hawkins<br> Blog <br>
                    <i class="fa-solid fa-newspaper"></i></i>
                </h1>
                <div class="hold-profile">
                    <img src="../public/css/images/profile-shot.png" alt="Professional Photo">
                </div>
            </section>
        </header>
        <nav>
            <section alt="nav bar">
                <ul class="nav-items container">
                    <li><a href="index.html"><i class="fa-solid fa-house"></i>Home </a></li>
                    <li><a href="skills.html"><i class="fa-solid fa-circle-info"></i>Skills </a></li>
                    <li><a href="education.html"><i class="fa-solid fa-graduation-cap"></i> Education</a></li>
                    <li><a href="contact.html"><i class="fa-solid fa-address-card"></i>Contact </a></li>
                    <li><a href="blog.html"><i class="fa-solid fa-newspaper"></i>Blog </a></li>
                </ul>
            </section>
        </nav>
        <main>
            <br>
            <div class="title-sec">
                <span class="title">
                    <i class="fa-solid fa-circle-info"></i> About Blog 
                    <br>
                </span>
            </div>
            <div class="bio">
                <p class="styleP">
                    Welcome to my personal blog thank you for visiting.
                    Here you will find documentation of the things I'm
                    learning / doing in my Cyber Security journey. It
                    may look a little empty right now but I assure you
                    in a month from now it will be covered with blog posts.
                    Below are all of the blog posts I've made which when clicked on
                    will redirect you to the blog post.
                </p>
            </div>
                
            <div class="contain-posts">
                <div class="blog-post">
                    <div class="title-sec">
                        <a href="blog_posts/webp_convert/webp_convert.html">
                            <span class="title">
                                <i class="fa-solid fa-paperclip"></i>
                                WEBP Image Converter Using Selenium
                            </span>
                        </a>
                    </div>
                    <div class="post-desc">
                        <a href="blog_posts/webp_convert/webp_convert.html">
                            <span class="date">
                                <i class="fa-solid fa-calendar-days"></i>
                                November 23rd, 2023
                            </span>
                            <img src="blog_posts/webp_convert/images/webp-image.png" alt="">
                            <p class="styleP">
                                One of the most notorious and hated image formats on the Internet undoubtedly has to be the WEBP
                                imageformat and for good reason.
                                The image format originally developed by Google back in 2010 at a glance seems to be better than the
                                alternative image
                                formats considering that it offers better image compression rates than JPGs and supports transparency
                                like PNGs do.
                                Despite this though, anyone who has had the experience of working with a WEBP image will tell you just
                                how annoying they
                                are. These grievances with the image format stem from WEBP being unsupported by most software and
                                browsers.
                                Additionally, not too long ago there was an unpatched vulnerability in WEBP images that allowed hackers
                                to run code
                                embedded in WEBP images. Considering the security nightmare and headache caused by this image format;
                                almost no one
                                wants to use the image format or is comfortable downloading a WEBP image. This forces you to convert any
                                WEBP image you
                                find into a different image format whenever encounter it online which can be tedious and time-consuming.
                                However, with
                                the help of a simple Python script I created, you can now autonomously and comfortably perform this task
                                the next time
                                you encounter a WEBP image.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="blog-post">
                    <div class="title-sec">
                        <a href="blog_posts/browser_automator/browser_automator.html">
                            <span class="title">
                                <i class="fa-solid fa-paperclip"></i>
                                Automating Browser Tasks
                            </span>
                        </a>
                    </div>
                    <div class="post-desc">
                        <a href="blog_posts/browser_automator/browser_automator.html">
                            <span class="date">
                                <i class="fa-solid fa-calendar-days"></i>
                                November 12th, 2023
                            </span>
                            <img src="blog_posts/browser_automator/images/browserThumbnail.png" alt="">
                            <p class="styleP">
                                If you’re anything like me, you likely spend most of your day on the Internet whether it be for school, work, or for leisure.
                                Additionally, most of the time we do spend on the Internet at least in a Desktop environment, is generally spent in a Web Browser
                                which we use to access the same handful of websites. In order to visit these websites, we are required to enter in the
                                associated uniform resource locator or URL, which is then processed by the Domain Name System which then will map the URL enetered into a
                                tangible IP address. This process can become quite tedious and time-consuming especially if you’re someone like me who
                                visits and uses multiple websites on a daily basis. However, we can reduce this menial task to just a few keystrokes by using
                                the simple and flexible Python script I’ve created.
                            </p>
                        </a>
                    </div>
                </div>
                <br>
                <div class="blog-post">
                    <div class="title-sec">
                        <a href="blog_posts/file_organization/file_organization.html">
                            <span class="title">
                                <i class="fa-solid fa-paperclip"></i>
                                File Organization in Python
                            </span>
                        </a>
                    </div>
                    <div class="post-desc">
                        <a href="blog_posts/file_organization/file_organization.html">
                            <span class="date">
                                <i class="fa-solid fa-calendar-days"></i>
                                October 30th, 2023
                            </span>
                            <img src="../public/css/blog_images/file_organization.jpg" alt="">
                            <p class="styleP">
                                Managing files and folders on your computer can quickly become a time consuming organizational nightmare. 
                                To solve this issue I've created a custom file manager command line interface in Python to organize my school work and save my time. 
                                In this blog post, I'll walk you through on how to build this program from start to finish using 
                                modules like OS, Pathlib, and shutil to interact with files. This program also utilizes regular expressions which
                                are used to validate user input and to also find files with a specific extension. Despite the file manager being tailored for my computer and workflow,
                                the concepts and techniques used can be applied to create your own automated file manager.
                            </p>
                        </a>
                    </div>
                </div>
        </main>
    </div>
</body>
</html>
