<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ryan Hawkins - Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../public/css/images/web_icon.png">
    <meta name="keywords" content="HTML, CSS, rhawk117, Python, C#, Coding, Cyber Seucrity">
    <meta name="author" content="Ryan Hawkins">
    <link rel="stylesheet" href="../public/css/styles/style.css">
    <link rel="stylesheet" href="../public/css/styles/education.css">
</head>
<body class="view">
    <div id="wrapper">
        <header class="contain">
            <section alt="header elements">
                <h1>Ryan Hawkins<br> Education <br>
                    <i class="fa-solid fa-house-laptop"></i>
                </h1>
                <div class="hold-profile">
                    <img src="../public/css/images/profile-shot.png" alt="Professional Photo">
                </div>
            </section>
        </header>
        <nav>
            <section alt="nav bar">
                <ul class="nav-items container">
                    <li><a href="index.html"><i class="fa-solid fa-house"></i>Home </a></li>
                    <li><a href="skills.html"><i class="fa-solid fa-circle-info"></i>Skills </a></li>
                    <li><a href="education.html"><i class="fa-solid fa-graduation-cap"></i> Education</a></li>
                    <li><a href="contact.html"><i class="fa-solid fa-address-card"></i>Contact </a></li>
                    <li><a href="blog.html"><i class="fa-solid fa-newspaper"></i>Blog </a></li>
                </ul>
            </section>
        </nav>
        <main>
            <br>
            <section alt="grad-path">
                <div class="title-tab">
                    <span class="title-text">
                        <i class="fa-solid fa-user-graduate"></i> Academic Background
                    </span>
                </div>
                <div class="course academic">
                    <span class="title-text uni"> Augusta University <br>
                        <span class="title-text uni">
                            School of Computer and Cyber Sciences
                        </span>
                    </span>
                    
                    <ul class="status-items">
                        <li>
                            <i class="fa-solid fa-lock"></i>
                            Bachelors of Science in Cyber Security 
                            
                        </li>

                        <li>
                            <i class="fa-solid fa-computer"></i>
                            Minor in Computer Science
                        </li>

                        <li>
                            <i class="fa-regular fa-circle-user"></i>

                            Sophomore 
                        </li>

                        <li>
                            <i class="fa-solid fa-user-graduate"></i>

                            Expected Graduation: May 2026
                        </li>
                        <li>
                            <i class="fa-solid fa-school-circle-check"></i>
                            GPA: 3.63
                        </li>
                        <li>
                            <i class="fa-regular fa-circle-user"></i>
                            Dean's List Spring 2023
                        </li>
                    </ul>
                </div>
            </section>
            <br>
            <section alt="relevant courses">

                <div class="title-tab">
                    <span class="title-text">
                        <i class="fa-solid fa-circle-check"></i> Courses Completed
                    </span>
                    <br>
                </div>

                <div class="base">
                    <div class="course">
                        
                        <span class="title">
                            <i class="fa-brands fa-python"></i> CSCI-1200 : Introduction to Computer Programs 
                        </span>
                        <div class="orient">
                            
                            <ul>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Successfully completed various programming projects throughout the course,
                                    applying the fundamental concepts of Python and programming languages to
                                    solve real-world problems.
                                </li>
                            
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Demonstrated a strong understanding of core programming concepts, such as variables,
                                    data types, control structures, loops, functions, and object-oriented programming principles.
                                </li>
                            
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Completed a final project at the end of the semester building on the concepts learned through out
                                    the semester and built a fully-functional Rock, Paper, Scissor, Lizard, Spock.
                                </li>
                            </ul>
                            <div class="course-logo">
                                <img src="../public/css/images/csci-1200-field-img.webp" alt="">
                            </div>

                        </div>
                    </div>
                    <!-- csci-1301 -->
                    <div class="course">
                        <span class="title">
                            <i class="fa-solid fa-layer-group"></i> CSCI-1301 : Principles of Comp Programming I 
                        </span>
                        <div class="orient">
                            
                            <ul>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Completed a series of challenging programming projects throughout the course, furthering my
                                    understanding of advanced C# concepts and their practical application.
                                </li>
                            
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Expanded upon the foundational knowledge gained from the previous programming course, further
                                    developing skills in areas such as object-oriented programming, control-structures, data-types,
                                    linear data structures and methods.
                            
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Actively engaged in class discussions and participated in coding exercises, actively seeking to deepen my
                                    understanding
                                    of complex C# topics and techniques.
                                </li>
                            </ul>
                            <div class="course-logo">
                                <img src="../public/css/images/csharp.png" alt="">
                            </div>
                        </div>
                        
                    </div>
                    <!-- aist-2120 -->
                    <div class="course">
                        <span class="title">
                            <i class="fa-solid fa-laptop-code"></i> AIST-2220 : Introduction to Web Development 
                        </span>
                        <div class="orient">
                            <ul>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Learned about the fundamentals of HTML and CSS through a series of hands-on projects in class and for homework.
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Developed a personal website with a blog using HTML and CSS, applying the concepts and techniques learned in the
                                    course to
                                    create an aesthetically pleasing, semantic and responsive website with mobile functionality.
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Engaged in self-directed learning and exploration, leveraging online resources and tutorials to expand my
                                    knowledge
                                    of HTML and CSS beyondthe course curriculum, resulting in additional enhancements and refinements to my personal
                                    website.
                                </li>
                            </ul>
                            <div class="course-logo">
                                <img src="../public/css/images/aist-2220-field-img.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- csci-1302 -->
                    <div class="course">
                        <span class="title">
                        <i class="fa-brands fa-stack-overflow"></i>  CSCI-1302 : Principles of Comp Programming II 
                        </span>
                        <div class="orient">
                            <ul>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Mastered object-oriented principles including encapsulation, inheritance, and polymorphism in C#
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Developed several programs utilizing classes, properties, methods, and constructors
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Implemented exception handling using try/catch/finally blocks for improved error control and also learned
                                    how to use the built-in debugger in Visual Studio.
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Created applications and classes to effectively to work with data structures such as singly-linked lists,
                                    multi-dimensional arrays, jagged arrays, and collections.
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Demonstrated understanding of value and reference types, parameters, and return values
                                </li>
                            </ul>
                            <div class="course-icon">
                                <img src="../public/css/images/csci-1302-field-img.png" alt="">
                            </div>
                        </div>
                       
                    </div>
                    <!-- cyber-2600 -->
                    <div class="course">
                        <span class="title">
                            <i class="fa-solid fa-wifi"></i> <i class="fa-solid fa-user-lock"></i> CYBER-2600 : Networking Cyber Security 
                        </span>
                        <div class="orient">
                           
                            <ul>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Completed a series of labs involving virtual machines using Kali Linux and BackTrack for penetration testing and implementing network security.
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Learned about how to implement network security and completed hands on labs where we secured a virtual network against threats 
                                    using firewalls like pfSense in lab.
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Both in class and in lab learned how to perform reconnaissance, scanning, exploitation, and post-exploitation on systems with OSINT Kali modules, 
                                    network and port scanning with nmap and vulnscan with metasploit.
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Learned how to execute and defend against SQL injection, cross-site scripting, and other web application attacks using Burpsuite and SQL Lite.
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Learned in depth about the fundamentals of networking and the 7 layers of the OSI Model in class to analyze network traffic using packet sniffers like Wireshark in lab.
                                </li>
                            </ul>
                            <div class="course-icon">
                                <img src="../public/css/images/cyber2600-field-img.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- aist-2120 -->
                    <div class="course">
                        <span class="title">
                            <i class="fa-brands fa-python"></i> <i class="fa-solid fa-gears"></i> AIST-2120 : Scripting and Automation 
                        </span>
                        <div class="orient">
                            <ul>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Learned how to create task specific programs to automate tasks and processes with Python's os, shutil, logging
                                    modules.
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Learned how to create Python programs to scrap and parse data from websites using BeautifulSoup and Selenium
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Developed several programs to process and analyze JSON, CSV, PDF, and DOCX files
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Created scripts using regular expressions to detect and log both SQL statements found in user input and IP
                                    Addresses
                                    in files
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Implemented effective debugging into programs using logs and exceptions for error diagnosis during development
                                </li>
                            </ul>
                            <div class="course-icon">
                                <img src="../public/css/images/python2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="title-tab">
                    <span class="title-text">
                        <i class="fa-solid fa-gear"></i> Courses In Progress
                    </span>
                </div>

                <div class="base">
                    <!-- CSCI-3400 -->
                    <div class="course">
                        <span class="title">
                            <i class="fa-solid fa-database"> </i><i class="fa-solid fa-magnifying-glass-chart"></i> CSCI-3400 : Data Structures & Algorithms 
                        </span>
                        <div class="orient">
                            <ul>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Developed a deep understanding of algorithm efficiency, time and space complexity, Big O Notation, and algorithim optimization.
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Through both theoretical learning, hands-on assignments and exam prep mastered various sorting and searching algorithms, enabling efficient data
                                    analysis and processing, a key skill in managing cybersecurity threats and ensuring data integrity.
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Learned and mastered Data Structures such as Linked Lists, Stacks, Queues and Trees learning both the strengths and weaknesses of each as well as 
                                    there practical applications.
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Mastered advanced sorting techniques such as Shell, Heap, and Quick sorting through theoretical and practical approaches, enhancing my capability to 
                                    process and analyze data efficiently
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Through detailed studying and course work, learned to implement binary search and binary search trees, crucial for organizing large datasets efficiently. 
                                </li>
                            </ul>
                            <div class="course-icon">
                                <img src="../public/css/images/csci3400.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- AIST-3320 -->
                    <div class="course">
                        <span class="title">
                            <i class="fa-solid fa-network-wired"></i> <i class="fa-solid fa-globe"></i> AIST-3320 : TCP / IP Protocol Analysis 
                        </span>
                        <div class="orient">
                            <ul>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Developed the ability to identify current network protocols and perform in-depth traffic analysis, essential for understanding network operations 
                                    and identifying potential vulnerabilities.
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                     Acquired comprehensive knowledge of the TCP/IP protocol suite, including its structure, operations, and applications in modern networking, which 
                                     is crucial for any network security professional.
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Learned to identify and detect unusual or malicious activities within network traffic, a key ability for maintaining network security and integrity.
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Learned about critical network services like ARP, DHCP, DNS, and their roles in facilitating seamless network communication and connectivity.
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                    Explored the functioning of HTTP and web technologies, along with the features and implementation of IPv6, preparing for future advancements in network technologies 
                                </li>
                            </ul>
                            <div class="course-icon">
                                <img src="../public/css/images/aist3320.jpg" alt="">
                            </div>

                        </div>
                    </div>
                
                    <!-- CYBR-3100 -->     
                    <div class="course">
                            <span class="title">
                                <i class="fa-solid fa-wifi"></i> <i class="fa-solid fa-lock"></i> CYBR-3100 : Intro To Defensive Cyber Operations  
                            </span>
                            <div class="orient">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                        Developed the ability to critically evaluate and analyze a network's security posture, identify vulnerabilities, and assess the 
                                        effectiveness of existing security devices and systems through practical penetration testing exercises.
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                        Gained hands-on experience in ethical hacking, learning advanced penetration testing techniques using tools like Kali Linux, Wireshark,
                                        and Metasploit identifying and mitigating potential security breaches in real-world scenarios.
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                        Trained to discover, analyze, and manage cybersecurity vulnerabilities and threats, enhancing my capability to safeguard network devices and 
                                        computer systems against cyber attacks.
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                        Acquired practical skills in various hacking techniques, including network sniffing, remote and client-side exploitation, post-exploitation tactics,
                                        and web hacking, crucial for a comprehensive understanding of cybersecurity challenges.
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-circle-check" style="color: #10b71b;"></i>
                                        Mastered techniques for effective information gathering and target enumeration using tools like nmap and NetCat. This knowledge is essential for identifying
                                        potential targets and planning cybersecurity strategies.
                                    </li>
                                </ul>
                        
                        <div class="course-icon">
                            <img src="../public/css/images/cyber3100.jpg" alt="">
                        </div>
                        </div>
                    </div>           
                    
                </div>
       
                </div>
            </section>
        </main>
    </div>
</body>
</html>
