<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ryan Hawkins - Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles/style.css">
    <link rel="stylesheet" href="../public/css/styles/skills.css">
</head>
<body class="view">
    <div id="wrapper">
        <header class="contain">
            <section alt="header elements">
                <h1>Ryan Hawkins<br> Skills<br>
                    <i class="fa-solid fa-circle-info"></i>
                </h1>
                <div class="hold-profile">
                    <img src="../public/css/images/profile-shot.png" alt="Professional Photo">
                </div>
            </section>
        </header>
        <nav>
            <section alt="nav bar">
                <ul class="nav-items container">
                    <li><a href="index.html"><i class="fa-solid fa-house"></i>Home </a></li>
                    <li><a href="skills.html"><i class="fa-solid fa-circle-info"></i>Skills </a></li>
                    <li><a href="education.html"><i class="fa-solid fa-graduation-cap"></i> Education</a></li>
                    <li><a href="contact.html"><i class="fa-solid fa-address-card"></i>Contact </a></li>
                    <li><a href="blog.html"><i class="fa-solid fa-newspaper"></i>Blog </a></li>
                </ul>
            </section>
        </nav>
        <main>
            <div class="hold-skills-grid">
                <!-- Web Development -->
                <div class="skill web">
                    <span class="skill-title">
                        HTML and CSS Web Development
                    </span>
                    <figure class="skill-image">
                        <img src="../public/css/images/web-skill.png" alt="">
                    </figure>
                    <p class="skill-desc">
                        Through coursework and personal projects,
                        I have developed proficiency in HTML and CSS.
                        I can create both semantic and accessible web pages
                        by hand-coding HTML and styling pages with CSS. My skills
                        include implementing responsive design, using CSS frameworks
                        like Bootstrap, and optimizing pages for performance which I used
                        to create and regularly maintain my website and blog.
                    </p>
            
                </div>
                <!-- Python -->
                <div class="skill python">
                    <span class="skill-title">
                        Python
                    </span>
                    <figure class="skill-image">
                        <img src="../public/css/images/python.png" alt="">
                    </figure>
                    <p class="skill-desc">
                        I have experience programming in Python through classes and personal coding projects.
                        I am comfortable with Python syntax, built-in data structures like lists and dictionaries
                        , and more complex data structures such as linked lists. Additionally, I have used Python to
                        automate many of the repetitive tasks I do in a day such as file organization. I'm also well-versed in many
                        of
                        Python's 3rd party modules are used for web scraping, data analysis, and building simple web applications with
                        the Django framework.
                    </p>
            
                </div>
                <!-- Linux CLI -->
                <div class="skill linux">
                    <span class="skill-title">
                        Linux
                    </span>
                    <figure class="skill-image">
                        <img src="../public/css/images/linux.png" alt="">
                    </figure>
                    <p class="skill-desc">
                        I have hands-on experience using Linux through live CDs and
                        virtual machines. This has allowed me to become proficient
                        with the Linux command line interface and various distros.
                        In class labs and through testing my own home network security,
                        I used Linux tools like Nmap, Wireshark, and Metasploit to perform
                        to detect and diagnose vulnerabilities. I can carry out steps like network
                        scanning, vulnerability identification, exploiting, and post-exploitation. Through ethical hacking, I have
                        developed an
                        understanding of Linux, networking, and security concepts. This provides me with experience with the tools and
                        techniques
                        used by cybersecurity professionals.
                    </p>
            
                </div>
                <!-- C# -->
                <div class="skill CSharp">
                    <span class="skill-title">
                        C# .NET Framework
                    </span>
                    <figure class="skill-image">
                        <img src="../public/css/images/csharp.png" alt="">
                    </figure>
                    <p class="skill-desc">
                        Through coursework, I have gained experience using C# and the .NET framework to build desktop and web
                        applications. I
                        understand and can apply the C# fundamentals such as data types, control structures, classes, methods and
                        Object Oriented
                        Programing Design Concepts. I have experience with ASP.NET and
                        building UIs with frameworks like WinForms. I am able to write, debug, and deploy C# code using Visual
                        Studio as my IDE.
                    </p>
                </div>
                <!-- Public Speaking -->
                <div class="skill pSpeaking">
                    <span class="skill-title">
                        Public Speaking
                    </span>
                    <figure class="skill-image">
                        <img src="../public/css/images/speech.png" alt="">
                    </figure>
                    <p class="skill-desc">
                        As the recruitment chair for my fraternity, I frequently gave presentations to
                        large groups during rush week events. During Rush Week I presented and represented our
                        Fraternity to an audience of 50-100 consisting of members of Greek life and potentially new
                        members helped me develop strong public speaking abilities.
                        Through the experience of presenting high-stakes speeches,
                        I learned how to capture attention, project confidence, and
                        deliver clear and persuasive messaging to diverse audiences which allowed our fraternity to double in size
                        and recruit the second-largest new member class in our Chapter's History.
                    </p>
                </div>
                <!-- Microsoft Office Suite -->
                <div class="skill office">
                    <span class="skill-title">
                        Micosoft Office Suite
                    </span>
                    <figure class="skill-image">
                        <img src="../public/css/images/office.png" alt="">
                    </figure>
                    <p class="skill-desc">
                        Through creating budgets in Excel and presentations in PowerPoint for both school and my fraternity
                        , I have developed strong skills in Microsoft Office programs. In Excel, I can create complex spreadsheets
                        using functions, pivot
                        tables,
                        macros, and more. In PowerPoint, I can design visually engaging presentations incorporating animations and
                        slide
                        transitions.
                    </p>
            
                </div>
                <!-- Self-Motivated -->
                <div class="skill self">
                    <span class="skill-title">
                        Self-Motivated
                    </span>
                    <figure class="skill-image">
                        <img src="../public/css/images/self.png" alt="">
                    </figure>
                    <p class="skill-desc">
                        Considering the depth of both Cyber Security and Computer Science, I spend most of my
                        free time learning, practicing, and researching both of these subjects.
                        Most of this time has been spent learning about the Linux Operating System. Through this I have
                        hands-on
                        experience with Linux, networking, and penetration testing. I've done this with
                        both Virtual Machines and Live CDs of Linux to test the security of my home network.
            
                    </p>
            
                </div>
                <!-- Time Management -->
                <div class="skill time">
                    <span class="skill-title">
                        Time Management
                    </span>
                    <figure class="skill-image">
                        <img src="../public/css/images/time-m.png" alt="">
                    </figure>
                    <p class="skill-desc">
                        By balancing a full course load with a leadership position in my fraternity,
                        I developed strong time management abilities. I planned and scheduled tasks effectively to ensure I met
                        deadlines and responsibilities in both my academic and extracurricular activities.
                        This involved prioritizing tasks, managing schedules, and staying organized.
                    </p>
                </div>
            </div>
        </main>  
    </div>
</body>

</html>